main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4rem;
  margin: 0px;
  padding: 0px;
  padding-bottom: .2rem;
  border: 0px;
  justify-content: center;
  background-color: #AC2110;
  font-family: 'Bungee Shade', cursive;
  font-size: 3rem;
  color: white;
}

h1 {

}

.rants-container {
  display: flex;
  justify-content: center;
}
