main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4rem;
  margin: 0px;
  padding: 0px;
  padding-bottom: .2rem;
  border: 0px;
  justify-content: center;
  background-color: #AC2110;
  font-family: 'Bungee Shade', cursive;
  font-size: 3rem;
  color: white;
}

h1 {

}

.rants-container {
  display: flex;
  justify-content: center;
}

.navlink {
  position: absolute;
  right: 2%;
  text-align: center;
  height: auto;
  width: auto;
  padding: 1.2rem;
  background-color: #23292b;
  font-family: 'Bungee shade', cursive;
  color: white;
  font-size: 2rem;
  box-shadow: 2px 2px 2px black;
}

.home-link {
  top: 26%;
}

.saved-rants-link {
  top: 12%;
}

.navlink:hover {
  color: black;
  background-color: white;
}

.navlink:active {
  color: white;
  background-color: #AC2110;
}
